@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    overflow-x: hidden;
}

:root {
    --primary-color: #3d67cf;
    --secondary-color: #5b5b5b;
    --white-color: #fff;
    --bg-grey-color: #f1f1f1;
}

.link {
    width: max-content;
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 500;
}