@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    overflow-x: hidden;
}

:root {
    --color-primary: #3d67cf;
    --color-gray: #5f656f;
    --color-white: #fff;
    --bg-grey-color: #f1f1f1;
    --color-seashell: #0e0e0f;
    --color-toggle: #f1f1f1;
    --color-active-link: #fec826;
    --el-pagination-border-radius: 10px;

    ::-webkit-scrollbar-track {
        background-color: var(--color-toggle);
    }

    ::-webkit-scrollbar-thumb {
        background-color: var(--color-primary);
        border-radius: 20px;
    }

    ::-webkit-scrollbar {
        width: 8px;
        height: 6px;
    }
}

.link {
    width: max-content;
    text-decoration: none;
    color: var(--color-primary);
    font-weight: 500;
}

button {
    font-family: inherit;
}